{% extends "base.html" %}
{% load static %}

{% block content %}

    <title>Panel de administración</title>
  </head>
  <body>
    <div class="container">
      <br>
      <h2>Administracion general</h2>
      <div class="container-fluid d-flex justify-content-center gap-5">

        <!-- ADD DEPTOS -->
        <div class="d-flex flex-column align-items-center">
          <button type="button" class="btn rounded-circle btn_menu_admin d-flex align-items-center justify-content-center"
                  data-bs-toggle="modal" data-bs-target="#modalAgregar">
            <i class="fa-solid fa-house-medical"></i>
          </button>
          <span class="mt-2">Agregar departamento</span>
        </div>

        <!-- RESERVAS -->
         <div class="d-flex flex-column align-items-center">
          <button type="button" class="btn rounded-circle btn_menu_admin d-flex align-items-center justify-content-center"
                  data-bs-toggle="modal" data-bs-target="#modalAgregar">
            <i class="fa-solid fa-calendar-days"></i>
          </button>
          <span class="mt-2">Reservas</span>
        </div>       

        <!-- ADD COLABORADORES -->
        <div class="d-flex flex-column align-items-center">
          <button type="button" class="btn rounded-circle btn_menu_admin d-flex align-items-center justify-content-center"
                  data-bs-toggle="modal" data-bs-target="#modalAgregarColaborador">
            <i class="fa-solid fa-person"></i>
          </button>
          <span class="mt-2">Añadir colaborador</span>
        </div>        

        <!-- INFORMES -->
        <div class="d-flex flex-column align-items-center">
          <button type="button" class="btn rounded-circle btn_menu_admin d-flex align-items-center justify-content-center"
                  data-bs-toggle="modal" data-bs-target="#modalinfromes">
            <i class="fa-solid fa-chart-pie"></i>
          </button>
          <span class="mt-2">Informes</span>
        </div>
      </div>   
      <br>    
      
    <h3>Lista de departamentos</h3>

    <div class="table-responsive">
      <table
        class="table table-bordered table-striped table-hover text-center align-middle">
        <thead class="table-dark">
          <tr>

            <th class="text-center">Nº Depto</th>
            <th class="text-center">Dormitorios</th>
            <th class="text-center">Baños</th>
            <th class="text-center">Piso</th>
            <th class="text-center">Capacidad</th>
            <th class="text-center">Valor</th>
            <th class="text-center">Disponibilidad</th>
            <th class="text-center">Mantenimiento</th>            
            <th class="text-center">Opciones</th>
          </tr>
        </thead>
        <tbody>
          {% for d in page_obj %}
          <tr>
            <td style="display: none;">{{ d.id_departamento }}</td>
            <td class="text-center">{{ d.num_depto }}</td>
            <td class="text-center">{{ d.cant_dormitorios }}</td>
            <td class="text-center">{{ d.cant_banos }}</td>
            <td class="text-center">{{ d.piso }}</td>
            <td class="text-center">{{ d.cant_personas }}</td>
            <td class="text-center">${{ d.valor_dia }}</td>
            <td class="text-center">
              {% if depto.ocupado %}
                <i class="bi bi-circle-fill" style="color: red; size: 40px;" ></i>
              {% else %}
                <i class="bi bi-circle-fill" style="color: green; size: 100px;"></i>
              {% endif %}
            </td>
            <td class="text-center">{% if d.mantenimiento %}Sí{% else %}No{% endif %}</td>
            <td class="text-center">

              <!-- boton editar con la data -->
              <button type="button" class="btn btn-sm btn-warning"
                data-bs-toggle="modal" data-bs-target="#modalEditarDepto"
                data-id="{{ d.id_departamento }}"
                data-num="{{ d.num_depto }}"
                data-dormitorios="{{ d.cant_dormitorios }}"
                data-banos="{{ d.cant_banos }}" data-piso="{{ d.piso }}"
                data-personas="{{ d.cant_personas }}"
                data-valor="{{ d.valor_dia }}"
                data-mant="{{ d.mantenimiento }}"><i
                  class="fa-solid fa-pen-to-square"></i></button>

              <!-- botn eliminar con la data -->
              <button type="button" class="btn btn-sm btn-danger btn-eliminar"
                data-id="{{ d.id_departamento }}"><i
                  class="fa-solid fa-trash"></i></button>

            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="8">No hay departamentos registrados.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <!-- PAGINACIÓN DEPARTAMENTOS -->
      <nav aria-label="Paginación">
        <ul class="pagination justify-content-center">
          {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link"
              href="?page=1">Primero</a></li>
          <li class="page-item"><a class="page-link"
              href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
          {% else %}
          <li class="page-item disabled"><span
              class="page-link">Primero</span></li>
          <li class="page-item disabled"><span
              class="page-link">Anterior</span></li>
          {% endif %}

          <li class="page-item disabled">
            <span class="page-link">Página {{ page_obj.number }} de {{page_obj.paginator.num_pages }}</span>
          </li>

          {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link"
              href="?page={{ page_obj.next_page_number }}">Siguiente</a></li>
          <li class="page-item"><a class="page-link"
              href="?page={{ page_obj.paginator.num_pages }}">Último</a></li>
          {% else %}
          <li class="page-item disabled"><span
              class="page-link">Siguiente</span></li>
          <li class="page-item disabled"><span
              class="page-link">Último</span></li>
          {% endif %}
        </ul>
      </nav>

    </div>
    <br>

    <h2>Usuarios registrados</h2>
    <h3>Lista de Clientes</h3>

    <div class="table-responsive">
      <table
        class="table table-bordered table-striped table-hover text-center align-middle">
        <thead class="table-dark">
          <tr>

            <th class="text-center">Nombre</th>
            <th class="text-center">Rut o Pasaporte</th>

            <th class="text-center">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <p>Total de clientes: {{ clientes|length }}</p>
          {% for c in clientes %}
          <tr>
            <td class="text-center">{{c.persona.nombre}} {{c.persona.s_nombre}}
              {{c.persona.apellido}} {{c.persona.s_apellido}}</td>
            <td class="text-center">{{ c.persona.rut }}-{{ c.persona.dv }}</td>
            <td class="text-center">

              <!-- boton editar con la data -->
              <button type="button" class="btn btn-sm btn-warning"
                data-bs-toggle="modal" data-bs-target="#modalEditarDepto"
                data-id="{{ d.id_departamento }}"
                data-num="{{ d.num_depto }}"
                data-dormitorios="{{ d.cant_dormitorios }}"
                data-banos="{{ d.cant_banos }}" data-piso="{{ d.piso }}"
                data-personas="{{ d.cant_personas }}"
                data-valor="{{ d.valor_dia }}"
                data-mant="{{ d.mantenimiento }}"><i
                  class="fa-solid fa-pen-to-square"></i></button>

              <!-- botn eliminar con la data -->
              <button type="button" class="btn btn-sm btn-danger btn-eliminar"
                data-id="{{ d.id_departamento }}"><i
                  class="fa-solid fa-trash"></i></button>

            </td>
          </tr>
          {% empty %}
          <tr>
            <td class="text-center" colspan="8">No hay ususarios registrados.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <!-- PAGINACIÓN CLIENTES -->
      <nav aria-label="Paginación">
        <ul class="pagination justify-content-center">

          {% if clientes.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page_clientes=1">Primero</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?page_clientes={{ clientes.previous_page_number }}">Anterior</a>
            </li>
          {% else %}
            <li class="page-item disabled"><span class="page-link">Primero</span></li>
            <li class="page-item disabled"><span class="page-link">Anterior</span></li>
          {% endif %}

          <li class="page-item disabled">
            <span class="page-link">Página {{ clientes.number }} de {{ clientes.paginator.num_pages }}</span>
          </li>

          {% if clientes.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page_clientes={{ clientes.next_page_number }}">Siguiente</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?page_clientes={{ clientes.paginator.num_pages }}">Último</a>
            </li>
          {% else %}
            <li class="page-item disabled"><span class="page-link">Siguiente</span></li>
            <li class="page-item disabled"><span class="page-link">Último</span></li>
          {% endif %}

        </ul>
      </nav>

    </div>

    <!-- modal agregar depto -->
    <div class="modal fade" id="modalAgregar" tabindex="-1"
      aria-labelledby="modalAgregarLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <form method="POST">
            {% csrf_token %}
            <div class="modal-header">
              <h5 class="modal-title" id="modalAgregarLabel">Agregar
                Departamento</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
              {{ AddDepto_modal_form.as_p }}
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Guardar</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- modal Editar depto -->
    <div class="modal fade" id="modalEditarDepto" tabindex="-1"
      aria-labelledby="modalEditarLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <form id="formEditar">
            <div class="modal-header">
              <h5 class="modal-title">Editar Departamento</h5>
              <button type="button" class="btn-close"
                data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
              <input type="hidden" id="editar-id">
              <div class="mb-3">
                <label>Nº Depto</label>
                <input type="text" id="editar-num" class="form-control">
              </div>
              <div class="mb-3">
                <label>Dormitorios</label>
                <input type="number" id="editar-dormitorios"
                  class="form-control">
              </div>
              <div class="mb-3">
                <label>Baños</label>
                <input type="number" id="editar-banos" class="form-control">
              </div>
              <div class="mb-3">
                <label>Piso</label>
                <input type="number" id="editar-piso" class="form-control">
              </div>
              <div class="mb-3">
                <label>Capacidad</label>
                <input type="number" id="editar-personas"
                  class="form-control">
              </div>
              <div class="mb-3">
                <label>Valor por día</label>
                <input type="number" id="editar-valor" class="form-control">
              </div>
              <div class="form-check">
                <input type="checkbox" id="editar-mant"
                  class="form-check-input">
                <label class="form-check-label">En mantenimiento</label>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Guardar
                cambios</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    
    <div class="modal fade" id="modalAgregarColaborador" tabindex="-1"
      aria-labelledby="modalEditarLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <form id="formEditar">
            <div class="modal-header">
              <h5 class="modal-title">Agregar colaborador</h5>
              <button type="button" class="btn-close"
                data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
              <input type="hidden" id="addColab-id">
              <div class="mb-3">
                <label>Rol</label>
                <select class="form-select" aria-label="Default select example">
                  <option selected>Administrador</option>
                  <option value="1">Recepcionista</option>
                  <option value="2">Personal de aseo</option>
                  
                </select>
              </div>
              <div class="mb-3">
                <label>Dormitorios</label>
                <input type="number" id="editar-dormitorios"
                  class="form-control">
              </div>
              <div class="mb-3">
                <label>Baños</label>
                <input type="number" id="editar-banos" class="form-control">
              </div>
              <div class="mb-3">
                <label>Piso</label>
                <input type="number" id="editar-piso" class="form-control">
              </div>
              <div class="mb-3">
                <label>Capacidad</label>
                <input type="number" id="editar-personas"
                  class="form-control">
              </div>
              <div class="mb-3">
                <label>Valor por día</label>
                <input type="number" id="editar-valor" class="form-control">
              </div>
              <div class="form-check">
                <input type="checkbox" id="editar-mant"
                  class="form-check-input">
                <label class="form-check-label">En mantenimiento</label>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Guardar
                cambios</button>
            </div>
          </form>
        </div>
      </div>
    </div>

{% endblock %}