{% extends 'base.html' %}
{% load static %}

{% block title %}Contacto | Bahía Bonita{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    <h2 class="mb-4">Pago Exitoso</h2>
    <hr class="w-25 mx-auto">

    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">¡Gracias por tu compra!</h4>
        <p>Tu pago ha sido procesado exitosamente. Recibirás un correo
            electrónico de confirmación con los detalles de tu compra.</p>
        <hr>
        <p class="mb-0">Si tienes alguna pregunta, no dudes en contactarnos.</p>
    </div>

    <a href="{% url 'home' %}" class="btn btn-primary mt-3">Volver al inicio</a>
</div>
<script>
    // Detectar recarga de la página
    if (performance.navigation.type === 1) {
        alert("¡Error! No puedes recargar esta página. Si necesitas ayuda, contáctanos.");
        
    }

    // Redirigir después de 5 segundos al perfil del cliente
    setTimeout(function() {
        window.location.href = "{% url 'profile' %}";
    }, 5000);
</script>

{% endblock %}