{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="card p-4 shadow-sm border-0 bg-white">
  <div class="container text-center mt-5">
    <h2 class="mb-4">Perfil de Usuario</h2>
    <hr class="w-25 mx-auto">

    <!-- Imagen o icono -->
    <div id="preview-container" class="position-relative">
      <i id="icon-profile" class="bi bi-person-bounding-box" style="font-size: 100px;"></i>
      <img id="preview-image" src="#" alt="Vista previa" class="img-fluid d-none rounded" style="max-width: 100px;">
    </div>

    <!-- Input de archivo -->
    <div class="mt-3" id="btn-upload-container">
      <label for="archivo" class="btn btn-primary">Subir nueva foto</label>
      <input type="file" id="archivo" accept="image/*" hidden>
    </div>
    <br>
    <div>
      <h4>Hola {{nombre}} {{apellido}} {{s_apellido}}</h4>
      <p>En este panel puedes ver toda tu información personal</p>
      <p>podras editar tu información, subir una foto de perfil, recuperar tu contraseña, ver todas tus reservas, dejar felicitaciones y sugerencias.</p>

      <div class="container d-flex gap-4 mt-4">
        <!-- Columna Perfil -->
        <div class="p-3 border rounded" style="flex: 1;">
          <h3 class="text-center">Perfil</h3>
          <div class="text-start mt-3">
            <p><strong>Nombre:</strong> {{nombre}} {{apellido}} {{s_apellido}}</p>
            <p><strong>Correo:</strong> {{email}}</p>
            <p><strong>Teléfono:</strong> {{telefono}}</p>
            <p><strong>Fecha de Nacimiento:</strong> {{fecha_nacimiento}}</p>
            <p><strong>Dirección:</strong> {{direccion}}</p>
            <p><strong>País:</strong> {{pais}}</p>
            <p><strong>Ciudad:</strong> {{ciudad}}</p>
            <div class="text-center mt-3">
              <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_edit_profile" data-bs-target="#modalEditarPerfil">
                Editar perfil
              </button>
            </div>

            
          </div>
        </div>

        <!-- Columna Reservas -->
        <div class="p-3 border rounded" style="flex: 1;">
          <h3 class="text-center border-bottom pb-2">Reservas</h3>
          <!-- contenido reservas -->
           {% for reserva in reservas %}
              <p><strong>Departamento:</strong> {{ reserva.departamento.num_depto }}</p>
              <p><strong>Ingreso:</strong> {{ reserva.fecha_ingreso }}</p>
              <p><strong>Salida:</strong> {{ reserva.fecha_salida }}</p>
              <hr>
            {% endfor %}
        </div>
      </div>
      <br><br>
      
      <a href="{% url 'logout' %}" 
      class="btn btn-danger log-out rounded-circle d-flex align-items-center justify-content-center"    
      title="Cerrar sesión">
      <i class="fa-solid fa-right-from-bracket"></i>    
      </a>
    </div>
  </div>
</div>

<!-- modal para editar perfil -->
<div class="modal fade" id="modal_edit_profile" tabindex="-1" aria-labelledby="modalEditarPerfilLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalEditarPerfilLabel">Editar Perfil</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="card p-4 shadow-sm border-0 bg-white">
      <div class="modal-body">

        <form method="POST" action="{% url 'profile' %}" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="mb-3">
            <label for="email" class="form-label">Correo Electrónico</label>
            <input type="email" class="form-control" id="email" name="email" value="{{ email }}">
          </div>
          <div class="mb-3">
            <label for="direccion" class="form-label">Dirección</label>
            <input type="text" class="form-control" id="direccion" name="direccion" value="{{ direccion }}">
          </div>
          <div class="mb-3">
            <label for="telefono" class="form-label">Teléfono</label>
            <input type="tel" class="form-control" id="telefono" name="telefono" value="{{ telefono }}">
          </div>
          <div class="mb-3">
            <label for="imagen_perfil" class="form-label">Imagen de Perfil</label>
            <input type="file" class="form-control" id="imagen_perfil" name="imagen_perfil" accept="image/*">

          </div>
          <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </form>

</div>
{% endblock %}

<script type="module" src="{% static 'js/profile.js' %}"></script>