{% extends "base.html" %}

{% block title %}Registro - Bahía Bonita{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="col-md-8 col-lg-6">
    <h2 class="text-center mb-4">Crear Cuenta</h2>
    <hr class="w-25 mx-auto">
    <p>Formulario cargado: {{ form }}</p>    
    <form method = 'POST'>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enviar</button>
    </form>
    
    <script>
        {% for message in messages %}
        Swal.fire({
          icon: 'success',
          title: '{{ message|escapejs }}',  //evita errores de comillas o caracteres especiales
          timer: 4000,
          showConfirmButton: false
        });
        {% endfor %}
      </script>

    <p class="text-center mt-3">
      ¿Ya tienes cuenta? <a href="{% url 'login' %}">Iniciar sesión</a>
    </p>
  </div>
</div>
{% endblock %}
